* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;

    background-image: url("hero.webp");
    background-size: cover;
    background-position: center;

    position: relative;
}

.content {
    width: 100%;
    padding: 10vh 8vw;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-text {
    width: 30%;

    color: white;
    text-align: center;

    font-size: 18px;
    line-height: 1.4;
}

.center-logo {
    color: white;
    text-align: center;

    font-size: 30px;
    letter-spacing: 3px;
}

.center-logo span {
    display: block;

    font-size: 12px;
    letter-spacing: 4px;
}

.x {
    margin: 10px;
    font-size: 18px;
}

.center-logo strong {
    display: block;

    font-size: 16px;
    letter-spacing: 1px;
}

.center-logo small {
    display: block;

    font-size: 8px;
    letter-spacing: 1px;
}

.right-text {
    width: 25%;

    color: white;

    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 600;
}

@media (max-width: 768px) {

    .content {
        padding: 40px 20px;

        flex-direction: column;

        align-items: center;

        gap: 30px;
    }

    .left-text {
        width: 90%;
        font-size: 15px;
    }

    .center-logo {
        font-size: 24px;
    }

    .right-text {
        width: 90%;

        text-align: center;

        font-size: 16px;
        letter-spacing: 3px;
    }

}
